hr
  height: 1px
  border: none
  background: $gray-light


.cleared-spaced-spans
  span
    float: left
    clear: both
    margin-bottom: $vertical-whitespace / 2


form
  table
    th
      padding-right: 5px
    th, td
      padding-bottom: 5px


table.striped
  thead tr
    background: $gray-light
    font-weight: bold

  tbody
    tr:nth-child(even)
      background: $gray-lighter

    tr:nth-child(odd)
      background: $gray-lightest


table.nice-padding
  th, td
    padding: 10px


#results-header
  #total
    float: left

  .pagination-status
    float: right

    span, a
      margin-left: 10px

      &:first-child
        margin-left: 0


.experiment-image-wrapper
  position: relative

  img
    position: absolute
    width: 100%

  &:after
    content: ''
    display: block
    position: relative
    padding-top: 75%


.plate-96
  width: 100%
  font-size: 13px

  td
    position: relative
    padding: 20px 0

  &.with-images
    background: black
    color: $gray-light

    td
      border: 2px solid $site-background

  .empty-well
    .well-caption
      color: $error-color

  .well-title,
  .well-caption,
  .experiment-image-wrapper
    width: 100%

  .well-title,
  .well-caption
    position: absolute
    left: 0
    text-align: center
    @include ellipsis

    &.well-title
      top: 0

    &.well-caption
      bottom: 0

  .experiment-image-wrapper
    display: block

  .well-title
    font-size: 12px
    font-weight: bold

    .parenthetical
      font-weight: normal
