hr
  height: 1px
  border: none
  background: $gray-light


.cleared-spaced-spans
  span
    float: left
    clear: both
    margin-bottom: $vertical-whitespace / 2


.page-section
  margin-bottom: $vertical-whitespace

  &:last-of-type
    margin-bottom: 0


form table
  th
    padding-right: 5px
    text-align: left
    padding-right: 20px
  th, td
    padding-bottom: 5px


.grayscale
  background: $gray-lighter

  thead
    background: $gray-light
    font-weight: bold
    font-size: $base-font-size


.striped
  tbody
    tr:nth-child(odd)
      background: $gray-lightest


.grid
  border-right: 1px $gray-light solid
  border-bottom: 1px $gray-light solid

  th, td
    border-left: 1px $gray-light solid
    border-top: 1px $gray-light solid


.nice-padding
  th, td
    padding: 10px


#results-header
  #total
    float: left

  .pagination-status
    float: right

    span, a
      margin-left: 10px

      &:first-child
        margin-left: 0
