#footer
  #logos
    float: left

    img
      float: left
      padding-right: $whitespace / 2

  #copyright
    float: right
    padding-top: $whitespace

    span
      float: left
      clear: both
