// Styles within the footer


#footer
  #logos
    float: left

    img
      float: left
      padding-right: $whitespace / 2

  #copyright
    float: right
    padding-top: $whitespace

    #data, #code, #login
      float: left
      clear: both

    #login
      a, span
        padding-right: $whitespace / 4

        &:last-child
          padding-right: 0
