$menu-item-padding: 20px

#header
  #menu
    float: left

    a, span
      float: left
      padding-right: $menu-item-padding

  #login
    float: right

    a
      float: left
      padding-left: $menu-item-padding
