#help-page
  h4
    padding-bottom: $whitespace / 2

  h5
    margin-bottom: $whitespace / 2
    font-weight: bold

  code.clear
    display: block
    width: 100%
    margin: $whitespace / 2 0

  #updating-methods
    @include bulleted-list
    list-style-position: outside
    padding: $whitespace / 2 $whitespace $whitespace $whitespace

    li
      margin-bottom: $whitespace / 4

      span
        display: block
        width: 100%
        padding-bottom: 4px
        font-size: $base-font-size + 2
        font-style: italic
        font-weight: bold
        margin-right: 4px

  section
    max-width: 800px
    padding: $whitespace 0
    margin-bottom: 0
    border-bottom: 1px solid #ccc

    &:last-child
      border-bottom: none

    section
      margin-bottom: $whitespace * 2
      padding: 0
      border-bottom: none

      &:last-child
        margin-bottom: 0

    &#table-of-contents
      padding-bottom: $whitespace / 2
      padding-top: 0

      section
        margin-bottom: $whitespace

      ul
        @include bulleted-list

      a
        display: block
        width: 100%
