#help-page
  h3
    margin-bottom: $whitespace

  h5
    margin-bottom: $whitespace / 2
    font-weight: bold

  code.clear
    display: block
    width: 100%
    margin: $whitespace / 2 0

  #updating-methods
    @include bulleted-list
    list-style-position: outside
    padding: $whitespace / 2 $whitespace $whitespace $whitespace

    li
      margin-bottom: $whitespace / 4

      span
        font-size: $base-font-size + 2
        font-style: italic
        margin-right: 4px

  section
    max-width: 750px
    padding: $whitespace 0
    margin-bottom: 0
    border-bottom: 1px solid #ccc

    section
      margin-bottom: $whitespace * 2
      padding: 0
      border-bottom: none

      &:last-child
        margin-bottom: 0

  #table-of-contents
    padding-top: 0
    a
      display: block
      width: 100%
