.image-frame
  $image-frame-z-index: 1
  position: relative

  // For aspect ratio
  &:after
    content: ''
    display: block
    position: relative
    padding-top: 75%
    z-index: $image-frame-z-index

  // To show/hide arrows when carousel is present
  &:hover
    .image-frame-previous, .image-frame-next
      span
        opacity: 1

        // Fade in
        @include transition(opacity 50ms linear)

  // This interacts with &:after for aspect ratio
  img
    position: absolute
    width: 100%

  .image-frame-previous, .image-frame-next
    position: absolute
    top: 0
    width: 50%
    height: 100%
    z-index: $image-frame-z-index + 1
    color: lighten($link-color, 20%)

    // For browsers that don't support vw
    font-size: 50px

    // vw is "Viewport-width" (font size relative to window size)
    font-size: 4vw

    &:hover
      color: lighten($link-hover-color, 30%)

    span
      position: absolute
      top: 50%

      // Move up by 50% of itself, for vertical centering
      @include transform(translateY(calc(-50%)))

      opacity: 0
      @include transition(opacity 250ms linear)

  .image-frame-previous
    left: 0

    span
      left: 5%

  .image-frame-next
    right: 0

    span
      right: 5%


.carousel
  width: 94%
  padding: 3%
  background: black
  color: $gray-light

  .individual-image
    display: none
    position: relative

    &.show
      display: block

    .image-topbar
      float: left
      width: 100%
      padding: 2% 0
      text-align: center

      .image-title
        float: left

      .placement
        float: right

    .image-frame
      float: left
      width: 100%
      -webkit-user-select: none // webkit (safari, chrome) browsers
      -moz-user-select: none // mozilla browsers
      -khtml-user-select: none // webkit (konqueror) browsers
      -ms-user-select: none // IE10+

    .image-caption
      float: left
      width: 100%
      padding: 2% 0
      font-size: $base-font-size - 2

      .image-scores
        float: left

      .devstar-link
        float: right


.plate-96
  width: 100%

  font-size: $base-font-size - 3

  &.vertical-tiles
    min-width: 320px
    float: left

    &.mode-devstar, &.mode-big
      min-width: 1000px

  th
    padding: 10px

  td, tr
    position: relative
    padding: 20px 0

  td
    background: black
    color: $gray-light

  td, th
    border: 2px solid $site-background

  .empty-well
    .well-caption
      color: $error-color

  .well-title,
  .well-caption,
  .image-frame
    width: 100%

  .well-title,
  .well-caption
    position: absolute
    left: 0
    text-align: center
    @include ellipsis

    &.well-title
      top: 0

    &.well-caption
      bottom: 0


  .well-caption
    a
      color: $link-color-light

      &:hover, &.active
        color: $link-hover-color-light

  .image-frame
    display: block

  .well-title
    font-size: 12px
    font-weight: bold

    .parenthetical
      font-weight: normal
