body
  float: left
  width: 100 - ($window-padding*2)
  padding: $window-padding

  #header
    width: 100%
    float: left
    margin-bottom: 40px

    h1
      margin-bottom: 20px

  #content
    width: 100%
    float: left

    h2
      clear: both
      margin-bottom: 30px

  #footer
    width: 100%
    float: left
    margin-top: 150px
