// Basic page layout


$window-padding: 3%

body
  float: left
  width: 100 - ($window-padding * 2)
  padding: $window-padding
  background: $site-background

  #header
    width: 100%
    float: left
    margin-bottom: $whitespace

    h1
      margin-bottom: $whitespace / 3

  #content
    width: 100%
    float: left

    h2
      clear: both
      margin-bottom: $whitespace

    h4
      clear: both
      margin-bottom: $whitespace / 2

  #footer
    width: 100%
    float: left
    margin-top: $whitespace * 4
