// Basic page layout


$window-padding: 3%

body
  float: left
  width: 100 - ($window-padding * 2)
  padding: $window-padding
  background: $site-background-color

  #header
    width: 100%
    float: left
    margin-bottom: $whitespace

    #site-title
      margin-bottom: $whitespace / 3

  #content
    width: 100%
    float: left

    #page-title
      clear: both
      margin-bottom: $whitespace

    .page-subtitle
      clear: both
      margin-bottom: $whitespace / 2

  #footer
    width: 100%
    float: left
    margin-top: $whitespace * 4
