$site-background: white
$window-padding: 3%
$vertical-whitespace: 40px
$max-image-width: 1300px

$base-font-color: #333
$base-font-size: 16px
$base-line-height: 130%

$link-color: #8d54c6
$link-hover-color: #777
$link-color-light: lighten($link-color, 18%)
$link-hover-color-light: lighten($link-hover-color, 18%)

$error-color: #CC3355
$success-color: green
$helptext-color: #888

$gray-light: #e0e0e0
$gray-lighter: #eee
$gray-lightest: #f8f8f8
$peach: #ffccb4
$dark-peach: #f36a5e

@import bourbon/bourbon
@import reset
@import font
@import header
@import footer
@import page
@import elements
@import images
@import ../../../clones/static/stylesheets/clones.sass
@import ../../../library/static/stylesheets/library.sass
@import ../../../experiments/static/stylesheets/experiments.sass
