/********** Get rid of native browser styles **********/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  float: left;
  width: 94%;
  padding: 3%;
  background: white; }
  body #header {
    width: 100%;
    float: left;
    margin-bottom: 40px; }
    body #header h1 {
      margin-bottom: 13.33333px; }
  body #content {
    width: 100%;
    float: left; }
    body #content h2 {
      clear: both;
      margin-bottom: 40px; }
    body #content h4 {
      clear: both;
      margin-bottom: 20px; }
  body #footer {
    width: 100%;
    float: left;
    margin-top: 160px; }

#header #menu {
  float: left; }
  #header #menu a {
    float: left;
    padding-right: 20px;
    line-height: 162.5%; }
    #header #menu a:last-child {
      padding-right: 0px; }

#footer #logos {
  float: left; }
  #footer #logos img {
    float: left;
    padding-right: 20px; }
#footer #copyright {
  float: right;
  padding-top: 40px; }
  #footer #copyright span {
    float: left;
    clear: both; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 130%; }

i, em {
  font-style: italic; }

b, strong {
  font-weight: bold; }

h1, h2, h3, h4 {
  font-weight: normal;
  line-height: 117%; }

h1 {
  font-size: 36px; }
  h1 a {
    color: #333; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 24px;
  color: gray; }

a {
  color: #8d54c6;
  text-decoration: none; }
  a:hover, a.active {
    color: #777; }
  a.active {
    cursor: default; }

.inactive-link {
  pointer-events: none;
  cursor: default;
  color: #777;
  text-decoration: line-through; }

.helptext {
  color: #888;
  font-size: 13px;
  font-style: italic; }

.error-message, .errorlist {
  color: #BB1133;
  font-weight: bold; }

.success-message {
  color: green;
  font-weight: bold; }

.warning-message {
  color: #ed865a;
  font-weight: bold; }

hr {
  height: 1px;
  border: none;
  background: #e0e0e0; }

ul.bulleted {
  list-style: disc inside; }

.nowrap {
  white-space: nowrap; }

.gray-bubble {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f8f8f8;
  padding: 20px;
  border-radius: 3px; }
  .gray-bubble:after {
    content: "";
    display: table;
    clear: both; }

#results-header #total {
  float: left; }
#results-header .pagination-status {
  float: right; }
  #results-header .pagination-status span, #results-header .pagination-status a {
    margin-left: 10px; }
    #results-header .pagination-status span:first-child, #results-header .pagination-status a:first-child {
      margin-left: 0; }

.page-section {
  margin-bottom: 40px; }
  .page-section:last-of-type {
    margin-bottom: 0; }
  .page-section.cleared-spaced-spans {
    float: left; }

.cleared-spaced-spans span {
  float: left;
  clear: both;
  margin-bottom: 20px; }
  .cleared-spaced-spans span:last-of-type {
    margin-bottom: 0; }

.columns {
  width: 100%;
  float: left; }
  .columns div {
    width: 50%; }
    .columns div:first-of-type {
      float: left; }
    .columns div:last-of-type {
      float: right; }

table thead th {
  text-align: left; }

.grayscale {
  background: #eee; }
  .grayscale thead {
    background: #e0e0e0;
    font-weight: bold;
    font-size: 16px; }

.striped tbody tr:nth-child(odd) {
  background: #f8f8f8; }

.nice-padding th, .nice-padding td {
  padding: 10px; }

.pretty-th {
  font-size: 14px;
  font-weight: normal;
  padding: 10px; }
  .pretty-th span, .pretty-th h4 {
    float: left;
    clear: both; }

.grid {
  border-right: 1px #e0e0e0 solid;
  border-bottom: 1px #e0e0e0 solid; }
  .grid th, .grid td {
    border-left: 1px #e0e0e0 solid;
    border-top: 1px #e0e0e0 solid; }

form table th {
  padding-right: 5px;
  text-align: left;
  padding-right: 20px; }
form table th, form table td {
  padding-bottom: 5px; }

.hover_tag {
  position: absolute;
  display: none;
  padding: 4px 6px 2px;
  background: white;
  color: black;
  border: 1px solid black;
  font-size: 13px;
  z-index: 800;
  text-shadow: none; }
  .hover_tag .tag_pointer, .hover_tag:after {
    position: absolute;
    left: 50%; }
  .hover_tag .tag_pointer {
    z-index: 5;
    margin-left: -3px;
    bottom: -6px;
    height: 0;
    width: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white; }
  .hover_tag:after {
    content: "";
    z-index: 3;
    margin-left: -3.5px;
    bottom: -7px;
    height: 0;
    width: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid black; }

.plate-96 {
  width: 100%;
  font-size: 12px; }
  .plate-96 td, .plate-96 tr {
    position: relative;
    padding: 20px 0; }
  .plate-96 td, .plate-96 th {
    border: 2px solid white; }
  .plate-96 .image-frame {
    display: block; }
  .plate-96 .well-title,
  .plate-96 .well-caption,
  .plate-96 .image-frame {
    width: 100%; }
  .plate-96 .well-title,
  .plate-96 .well-caption {
    position: absolute;
    left: 0;
    text-align: center;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .plate-96 .well-title.well-title,
    .plate-96 .well-caption.well-title {
      top: 0; }
    .plate-96 .well-title.well-caption,
    .plate-96 .well-caption.well-caption {
      bottom: 0; }
  .plate-96 .well-title {
    font-weight: bold; }
    .plate-96 .well-title .parenthetical {
      font-weight: normal; }
  .plate-96 .empty-well .well-caption {
    font-weight: bold;
    color: #ed865a; }
  .plate-96 .junk-well .well-title, .plate-96 .junk-well .well-caption {
    background: #BB1133; }

#clones #results-header, #clones table {
  width: 100%;
  max-width: 700px; }
#clones form {
  margin-bottom: 40px; }

#clone table {
  width: 100%; }

#library-plates #plate-filters {
  margin-bottom: 40px; }
  #library-plates #plate-filters a {
    margin-left: 10px; }
    #library-plates #plate-filters a:first-child {
      margin-left: 0; }
#library-plates #results-header, #library-plates table {
  width: 100%;
  max-width: 700px; }

#library-plate .plate-96 td {
  background: #eee;
  color: #333; }
  #library-plate .plate-96 td .well-title,
  #library-plate .plate-96 td .well-caption {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px; }

#experiment .links a {
  margin-right: 40px; }
#experiment .image-frame {
  clear: both;
  width: 100%;
  max-width: 1300px; }

#experiment-plate .vertical-links {
  float: left; }
  #experiment-plate .vertical-links a {
    margin-right: 40px; }

#vertical-experiment-plates .plate-96 {
  min-width: 320px;
  float: left; }
  #vertical-experiment-plates .plate-96.mode-devstar, #vertical-experiment-plates .plate-96.mode-big {
    min-width: 1000px; }

#experiment-plate .plate-96 td, #vertical-experiment-plates .plate-96 td {
  background: black;
  color: #e0e0e0; }
#experiment-plate .plate-96 .well-caption a, #vertical-experiment-plates .plate-96 .well-caption a {
  color: #bb99dd; }
  #experiment-plate .plate-96 .well-caption a:hover, #experiment-plate .plate-96 .well-caption a.active, #vertical-experiment-plates .plate-96 .well-caption a:hover, #vertical-experiment-plates .plate-96 .well-caption a.active {
    color: #a5a5a5; }

#find-experiment-wells table {
  width: 100%;
  float: left;
  margin-bottom: 40px; }
  #find-experiment-wells table td .image-frame {
    width: 100%;
    float: left; }

#find-experiment-wells #form-section #form-errors, #find-experiment-wells #form-section #clear-form, #find-experiment-plates #form-section #form-errors, #find-experiment-plates #form-section #clear-form {
  float: left;
  clear: both; }
#find-experiment-wells #form-section #form-errors, #find-experiment-plates #form-section #form-errors {
  margin-bottom: 40px; }
#find-experiment-wells #form-section .field, #find-experiment-plates #form-section .field {
  float: left;
  width: 45%;
  padding-bottom: 12px; }
  #find-experiment-wells #form-section .field:nth-child(odd), #find-experiment-plates #form-section .field:nth-child(odd) {
    clear: left; }
  #find-experiment-wells #form-section .field:nth-child(even), #find-experiment-plates #form-section .field:nth-child(even) {
    clear: right; }
  #find-experiment-wells #form-section .field.submit, #find-experiment-plates #form-section .field.submit {
    clear: both; }
  #find-experiment-wells #form-section .field #id_plate__temperature__in, #find-experiment-plates #form-section .field #id_plate__temperature__in {
    width: 50px; }
  #find-experiment-wells #form-section .field #id_worm_strain, #find-experiment-plates #form-section .field #id_worm_strain {
    width: 150px; }

#find-experiment-plates .vertical-links a, #change-experiment-plates .vertical-links a {
  margin-left: 40px; }
#find-experiment-plates table#experiment-results, #change-experiment-plates table#experiment-results {
  width: 100%; }

.knockdown-clone-section h4 {
  width: 100%;
  text-align: center; }
  .knockdown-clone-section h4 span {
    display: block; }

.knockdown-results {
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 160px;
  background: #eee; }
  .knockdown-results th {
    width: 50%;
    padding: 1% 0;
    text-align: center; }
  .knockdown-results td {
    width: 46%;
    padding: 0 2%;
    vertical-align: top; }
  .knockdown-results thead th {
    font-size: 20px; }
  .knockdown-results tbody th {
    padding-top: 3%;
    font-size: 18px; }
  .knockdown-results .carousel:after {
    content: "";
    display: table;
    clear: both; }
  .knockdown-results.single-column td {
    width: 100%; }
  .knockdown-results.single-column .carousel {
    margin: 20px auto;
    max-width: 1300px; }

#secondary-scores .Strong {
  background: #1e6823; }
#secondary-scores .Medium {
  background: #44a340; }
#secondary-scores .Weak {
  background: #8cc665; }
#secondary-scores .Negative {
  background: white; }
#secondary-scores .Other {
  background: black; }
#secondary-scores #key {
  font-size: 14px;
  float: right; }
  #secondary-scores #key li {
    display: inline-block; }
    #secondary-scores #key li.key-color {
      width: 10px;
      height: 10px;
      border: 1px solid #e0e0e0; }
#secondary-scores #results {
  float: left;
  width: 100%; }
  #secondary-scores #results td.experiment-score, #secondary-scores #results th.experiment-score {
    font-size: 14px; }
  #secondary-scores #results .experiment-score {
    position: relative;
    width: 10px;
    border: 1px solid #e0e0e0; }
    #secondary-scores #results .experiment-score a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

table#image-category td {
  padding: 20px;
  vertical-align: middle; }
table#image-category .image-frame {
  width: 800px; }

.image-frame {
  position: relative; }
  .image-frame:after {
    content: "";
    display: block;
    position: relative;
    padding-top: 75%; }
  .image-frame img {
    position: absolute;
    width: 100%; }

.carousel {
  width: 94%;
  padding: 3%;
  background: black;
  color: #e0e0e0; }
  .carousel .individual-image {
    display: none;
    position: relative; }
    .carousel .individual-image.show {
      display: block; }
    .carousel .individual-image .image-topbar {
      float: left;
      width: 100%;
      padding: 2% 0;
      text-align: center; }
      .carousel .individual-image .image-topbar .image-title {
        float: left; }
      .carousel .individual-image .image-topbar .placement {
        float: right; }
      .carousel .individual-image .image-topbar a {
        color: #bb99dd; }
        .carousel .individual-image .image-topbar a:hover, .carousel .individual-image .image-topbar a.active {
          color: #a5a5a5; }
    .carousel .individual-image .image-caption {
      float: left;
      width: 100%;
      padding: 2% 0;
      font-size: 14px; }
      .carousel .individual-image .image-caption .image-scores {
        float: left; }
        .carousel .individual-image .image-caption .image-scores span {
          float: left;
          clear: both; }
    .carousel .individual-image .image-frame {
      float: left;
      width: 100%;
      -webkit-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -ms-user-select: none; }
      .carousel .individual-image .image-frame:after {
        z-index: 1; }
      .carousel .individual-image .image-frame:hover .image-frame-previous span, .carousel .individual-image .image-frame:hover .image-frame-next span {
        opacity: 1;
        -webkit-transition: opacity 50ms linear;
        -moz-transition: opacity 50ms linear;
        transition: opacity 50ms linear; }
      .carousel .individual-image .image-frame .image-frame-previous, .carousel .individual-image .image-frame .image-frame-next {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        z-index: 2;
        color: #c0a1e0;
        font-size: 50px;
        font-size: 4vw; }
        .carousel .individual-image .image-frame .image-frame-previous:hover, .carousel .individual-image .image-frame .image-frame-next:hover {
          color: #c4c4c4; }
        .carousel .individual-image .image-frame .image-frame-previous span, .carousel .individual-image .image-frame .image-frame-next span {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(calc(-50%));
          -moz-transform: translateY(calc(-50%));
          -ms-transform: translateY(calc(-50%));
          -o-transform: translateY(calc(-50%));
          transform: translateY(calc(-50%));
          opacity: 0;
          -webkit-transition: opacity 250ms linear;
          -moz-transition: opacity 250ms linear;
          transition: opacity 250ms linear; }
      .carousel .individual-image .image-frame .image-frame-previous {
        left: 0; }
        .carousel .individual-image .image-frame .image-frame-previous span {
          left: 5%; }
      .carousel .individual-image .image-frame .image-frame-next {
        right: 0; }
        .carousel .individual-image .image-frame .image-frame-next span {
          right: 5%; }
