/********** Get rid of native browser styles **********/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 130%; }

i, em {
  font-style: italic; }

b, strong {
  font-weight: bold; }

h1, h2, h3, h4 {
  font-weight: normal;
  line-height: 117%; }

h1 {
  font-size: 36px; }
  h1 a {
    color: #333; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 24px;
  color: gray; }

a {
  text-decoration: none;
  color: #8d54c6; }
  a:hover, a.active {
    color: #777; }
  a.active {
    cursor: default; }

.inactive-link {
  pointer-events: none;
  cursor: default;
  color: #777;
  text-decoration: line-through; }

.helptext {
  color: #888;
  font-size: 13px;
  font-style: italic; }

.success-message {
  color: green;
  font-weight: bold; }

.error-message, .errorlist {
  color: #CC3355;
  font-weight: bold; }

.error-background {
  background: #CC3355; }

.warning-background {
  background: #ebadbb; }

#header #menu {
  float: left; }
  #header #menu a, #header #menu span {
    float: left;
    padding-right: 20px; }
#header #login {
  float: right; }
  #header #login a {
    float: left;
    padding-left: 20px; }

#footer #logos {
  float: left; }
  #footer #logos img {
    float: left;
    padding-right: 20px; }
#footer #copyright {
  float: right;
  padding-top: 40px; }
  #footer #copyright span {
    float: left;
    clear: both; }

body {
  float: left;
  width: 94%;
  padding: 3%;
  background: white; }
  body #header {
    width: 100%;
    float: left;
    margin-bottom: 40px; }
    body #header h1 {
      margin-bottom: 13.33333px; }
  body #content {
    width: 100%;
    float: left; }
    body #content h2 {
      clear: both;
      margin-bottom: 40px; }
    body #content h4 {
      clear: both;
      margin-bottom: 20px; }
  body #footer {
    width: 100%;
    float: left;
    margin-top: 160px; }

hr {
  height: 1px;
  border: none;
  background: #e0e0e0; }

.cleared-spaced-spans span {
  float: left;
  clear: both;
  margin-bottom: 20px; }

form table th {
  padding-right: 5px;
  text-align: left;
  padding-right: 20px; }
form table th, form table td {
  padding-bottom: 5px; }

.error-form .error-message, .error-form form {
  float: left;
  clear: both; }
.error-form .error-message {
  margin-bottom: 20px; }

.grayscale {
  background: #eee; }
  .grayscale thead {
    background: #e0e0e0;
    font-weight: bold;
    font-size: 16px; }

.striped tbody tr:nth-child(odd) {
  background: #f8f8f8; }

.grid {
  border-right: 1px #e0e0e0 solid;
  border-bottom: 1px #e0e0e0 solid; }
  .grid th, .grid td {
    border-left: 1px #e0e0e0 solid;
    border-top: 1px #e0e0e0 solid; }

.nice-padding th, .nice-padding td {
  padding: 10px; }

#results-header #total {
  float: left; }
#results-header .pagination-status {
  float: right; }
  #results-header .pagination-status span, #results-header .pagination-status a {
    margin-left: 10px; }
    #results-header .pagination-status span:first-child, #results-header .pagination-status a:first-child {
      margin-left: 0; }

.image-frame {
  position: relative; }
  .image-frame:after {
    content: "";
    display: block;
    position: relative;
    padding-top: 75%;
    z-index: 1; }
  .image-frame:hover .image-frame-previous span, .image-frame:hover .image-frame-next span {
    opacity: 1;
    -webkit-transition: opacity 50ms linear;
    -moz-transition: opacity 50ms linear;
    transition: opacity 50ms linear; }
  .image-frame img {
    position: absolute;
    width: 100%; }
  .image-frame .image-frame-previous, .image-frame .image-frame-next {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 2;
    color: #c0a1e0;
    font-size: 50px;
    font-size: 4vw; }
    .image-frame .image-frame-previous:hover, .image-frame .image-frame-next:hover {
      color: #c4c4c4; }
    .image-frame .image-frame-previous span, .image-frame .image-frame-next span {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(calc(-50%));
      -moz-transform: translateY(calc(-50%));
      -ms-transform: translateY(calc(-50%));
      -o-transform: translateY(calc(-50%));
      transform: translateY(calc(-50%));
      opacity: 0;
      -webkit-transition: opacity 250ms linear;
      -moz-transition: opacity 250ms linear;
      transition: opacity 250ms linear; }
  .image-frame .image-frame-previous {
    left: 0; }
    .image-frame .image-frame-previous span {
      left: 5%; }
  .image-frame .image-frame-next {
    right: 0; }
    .image-frame .image-frame-next span {
      right: 5%; }

.carousel {
  width: 94%;
  padding: 3%;
  background: black;
  color: #e0e0e0; }
  .carousel .individual-image {
    display: none;
    position: relative; }
    .carousel .individual-image.show {
      display: block; }
    .carousel .individual-image .image-topbar {
      float: left;
      width: 100%;
      padding: 2% 0;
      text-align: center; }
      .carousel .individual-image .image-topbar .image-title {
        float: left; }
      .carousel .individual-image .image-topbar .placement {
        float: right; }
    .carousel .individual-image .image-frame {
      float: left;
      width: 100%;
      -webkit-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -ms-user-select: none; }
    .carousel .individual-image .image-caption {
      float: left;
      width: 100%;
      padding: 2% 0;
      font-size: 14px; }
      .carousel .individual-image .image-caption .image-scores {
        float: left; }
      .carousel .individual-image .image-caption .devstar-link {
        float: right; }

.plate-96 {
  width: 100%;
  font-size: 13px; }
  .plate-96.vertical-tiles {
    min-width: 320px;
    float: left; }
    .plate-96.vertical-tiles.mode-devstar, .plate-96.vertical-tiles.mode-big {
      min-width: 1000px; }
  .plate-96 th {
    padding: 10px; }
  .plate-96 td, .plate-96 tr {
    position: relative;
    padding: 20px 0; }
  .plate-96 td {
    background: black;
    color: #e0e0e0; }
  .plate-96 td, .plate-96 th {
    border: 2px solid white; }
  .plate-96 .empty-well .well-caption {
    color: #CC3355; }
  .plate-96 .well-title,
  .plate-96 .well-caption,
  .plate-96 .image-frame {
    width: 100%; }
  .plate-96 .well-title,
  .plate-96 .well-caption {
    position: absolute;
    left: 0;
    text-align: center;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .plate-96 .well-title.well-title,
    .plate-96 .well-caption.well-title {
      top: 0; }
    .plate-96 .well-title.well-caption,
    .plate-96 .well-caption.well-caption {
      bottom: 0; }
  .plate-96 .image-frame {
    display: block; }
  .plate-96 .well-title {
    font-size: 12px;
    font-weight: bold; }
    .plate-96 .well-title .parenthetical {
      font-weight: normal; }

#clones #results-header, #clones table {
  width: 50%; }
#clones form {
  margin-bottom: 40px; }

#library-plates #plate-filters {
  margin-bottom: 40px; }
  #library-plates #plate-filters a {
    margin-left: 10px; }
    #library-plates #plate-filters a:first-child {
      margin-left: 0; }
#library-plates #results-header, #library-plates table {
  width: 50%; }

#before-and-after-category td {
  padding: 20px;
  vertical-align: middle; }
#before-and-after-category .image-frame {
  width: 800px; }

#experiment-plates hr {
  margin: 40px 0; }
#experiment-plates #experiment-filter-form {
  margin-top: 20px;
  margin-bottom: 40px; }
#experiment-plates #experiment-results {
  width: 100%; }
#experiment-plates .vertical-links {
  margin-left: 80px; }
  #experiment-plates .vertical-links span, #experiment-plates .vertical-links a {
    margin-left: 40px; }

#experiment-grid {
  font-size: 12px;
  table-layout: fixed;
  width: 100%; }
  #experiment-grid td, #experiment-grid th {
    width: 60px;
    overflow: hidden; }
  #experiment-grid th {
    font-weight: bold; }

#experiment-plates-vertical .plate-info span {
  float: left;
  clear: both;
  width: 100%;
  text-align: center; }

#experiment-well .image-frame {
  clear: both;
  width: 100%;
  max-width: 1300px; }

.single-knockdown-search-section {
  float: left;
  clear: both;
  margin-bottom: 40px; }

.knockdown-clone-section h4 {
  width: 100%;
  text-align: center; }
  .knockdown-clone-section h4 span {
    display: block; }

.knockdown-results {
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 160px;
  background: #eee; }
  .knockdown-results th {
    width: 50%;
    padding: 1% 0;
    text-align: center; }
  .knockdown-results td {
    width: 46%;
    padding: 0 2%;
    vertical-align: top; }
  .knockdown-results thead th {
    font-size: 20px; }
  .knockdown-results tbody th {
    padding-top: 3%;
    font-size: 18px; }
  .knockdown-results .carousel:after {
    content: "";
    display: table;
    clear: both; }
  .knockdown-results.single-column td {
    width: 100%; }
  .knockdown-results.single-column .carousel {
    margin: 0 auto;
    max-width: 1300px; }
