{% extends 'base.html' %}

{% block page_title %}Worm Strains{% endblock %}

{% block content %}
<table class="striped">
  <thead>
    <tr>
      <th>Strain</th>
      <th>Genotype</th>
      <th>Permissive Temperature</th>
      <th>Restrictive Temperature</th>
    </tr>
  </thead>

  <tbody>
    {% for strain in strains %}
    <tr>
      <td>
        {% if strain.on_wormbase %}
          <a href="{{ strain.url }}">
        {% endif %}
        {{ strain }}
        {% if strain.on_wormbase %}
          </a>
        {% endif %}
      </td>
      <td>{{ strain.genotype }}</td>
      <td>{{ strain.permissive_temperature }}</td>
      <td>{{ strain.restrictive_temperature }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
