table.striped
  thead tr
    background: $gray-light
    font-weight: bold

  tbody
    tr:nth-child(even)
      background: $gray-lighter

    tr:nth-child(odd)
      background: $gray-lightest

  th, td
    padding: 10px

.filters
  margin-bottom: $vertical-whitespace

  a
    margin-left: 10px

    &:first-child
      margin-left: 0

#total
  float: left

.pagination
  float: right
  a, span
    margin-left: 10px

    &:first-child
      margin-left: 0

.error-message
  color: red
  font-style: italic
