{% extends "base.html" %}

{% block body_id %}clones{% endblock %}
{% block page_title %}RNAi Clones{% endblock %}

{% block content %}

<div id="results-header">
  <span id="total">
    {{ clones|length }} total
  </span>

  {% include 'pagination_status.html' %}
</div>

<table class="grayscale striped nice-padding">
  <thead>
    <tr>
      <th>Clone Name</th>
    </tr>
  </thead>

  <tbody>
    {% for clone in paginated %}
    <tr>
      <td>{{ clone.id }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
