{% extends 'base.html' %}

{% block body_id %}clone{% endblock %}
{% block page_title %}RNAi Clone {{ clone }} {% endblock %}

{% block content %}

<div class="page-section cleared-spaced-spans">
  <span>
    <b>Library</b>
    &nbsp;
    {{ clone.library }}
  </span>

  <span>
    <b>Clone Type</b>
    &nbsp;
    {{ clone.clone_type }}
  </span>

  <span>
    <b>Forward Primer</b>
    &nbsp;
    {{ clone.forward_primer }}
  </span>

  <span>
    <b>Reverse Primer</b>
    &nbsp;
    {{ clone.reverse_primer }}
  </span>
</div>

<div class="page-section">
  <h4>Gene Targets</h4>
  <table class="grayscale striped nice-padding">
    <thead>
      <tr>
        <th>WormBase ID</th>
        <th>Cosmid ID</th>
        <th>Locus</th>
        <th>Gene Type</th>
        <th>Gene Class Description</th>
        <th>Functional Description</th>
      </tr>
    <thead>

    <tbody>
      {% for target in clone.get_targets %}
      <tr>
        <td>
          <a href="{{ target.gene.get_wormbase_url }}">
            {{ target.gene.id }}</a>
        </td>
        <td>{{ target.gene.cosmid_id }}</td>
        <td>{{ target.gene.locus }}</td>
        <td>{{ target.gene.gene_type }}</td>
        <td>{{ target.gene.gene_class_description }}</td>
        <td>{{ target.gene.functional_description }}</td>
      </tr>

      {% empty %}
        No gene targets according to Firoz's database.
      {% endfor %}
    </tbody>

  </table>
</div>

{% endblock %}
