{% extends "base.html" %}
{% load extra_tags %}

{% block body_id %}clones{% endblock %}
{% block page_title %}RNAi Clones{% endblock %}

{% block content %}


<form action="" method="get">
  <input type="text" name="query">
  <input type="submit" value="Search">
</form>

<div id="results-header">
  <span id="total">
    {{ clones|length }} total
  </span>

  {% include "pagination_status.html" %}
</div>

<table class="grayscale striped nice-padding">
  <thead>
    <tr>
      <th>Clone Name</th>
      <th>Gene Targets</th>
    </tr>
  </thead>

  <tbody>
    {% for clone in paginated %}
    <tr>
      <td>
        <a href="{{ clone.get_absolute_url }}">
          {{ clone.id }}</a>
      </td>

      <td>
        {{ clone|list_targets }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
