{% extends "base.html" %}

{% block body_id %}clones{% endblock %}
{% block page_title %}RNAi Clones{% endblock %}

{% block content %}

<div id="results-header">
  <span id="total">
    {{ clones|length }} total
  </span>

  {% include "pagination_status.html" %}
</div>

<table class="grayscale striped nice-padding">
  <thead>
    <tr>
      <th>Clone Name</th>
      <th>Gene Targets</th>
    </tr>
  </thead>

  <tbody>
    {% for clone in paginated %}
    <tr>
      <td>
        <a href="{% url 'clone_url' clone.id %}">
          {{ clone.id }}</a>
      </td>

      <td>
        {% for target in clone.clonetarget_set.all %}
          {{ target.gene.get_display_string }}
        {% empty %}
          <i>No gene targets</i>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
