#library-plates
  #plate-filters
    margin-bottom: $whitespace

    a
      margin-left: 10px

      &:first-child
        margin-left: 0

  #results-header, table
    width: 100%
    max-width: 700px
