{% extends "base.html" %}

{% block page_title %}Worm Strains{% endblock %}

{% block content %}
<table class="striped">
  <thead>
    <tr>
      <th>Strain Name</th>
      <th>Genotype</th>
      <th>Permissive Temperature</th>
      <th>Restrictive Temperature</th>
    </tr>
  </thead>

  <tbody>
    {% for strain in strains %}
    <tr>
      <td><a href="{{ strain.get_lab_website_url }}">{{ strain }}</a></td>
      <td>{{ strain.genotype }}</td>
      <td>{{ strain.get_permissive_string }}</td>
      <td>{{ strain.get_restrictive_string }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
