{% extends "base.html" %}
{% load extra_tags %}

{% block body_id %}worms{% endblock %}
{% block page_title %}Worm Strains{% endblock %}

{% block content %}
<table class="grayscale striped nice-padding">
  <thead>
    <tr>
      <th>Worm Strain Name</th>
      <th>Genotype</th>
      <th>Permissive Temperature</th>
      <th>Restrictive Temperature</th>
    </tr>
  </thead>

  <tbody>
    {% for worm in worms %}
    <tr>
      <td><a href="{{ worm.url }}">{{ worm }}</a></td>
      <td>{{ worm.genotype }}</td>
      <td>{{ worm.permissive_temperature|get_celsius_string }}</td>
      <td>{{ worm.restrictive_temperature|get_celsius_string }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
