{% extends "base.html" %}
{% load extra_template_tags %}

{% block body_id %}worm-strains{% endblock %}
{% block page_title %}Worm Strains{% endblock %}

{% block content %}
<table class="striped nice-padding">
  <thead>
    <tr>
      <th>Strain Name</th>
      <th>Genotype</th>
      <th>Permissive Temperature</th>
      <th>Restrictive Temperature</th>
    </tr>
  </thead>

  <tbody>
    {% for strain in strains %}
    <tr>
      <td><a href="
      {% if user.is_authenticated %}
        {{ strain.get_lab_website_url }}
      {% else %}
        {{ strain.get_wormbase_url }}
      {% endif %}
      ">{{ strain }}</a></td>
      <td>{{ strain.genotype }}</td>
      <td>{{ strain.permissive_temperature|get_celsius_string }}</td>
      <td>{{ strain.restrictive_temperature|get_celsius_string }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
