$max-image-width: 1300px


////////////////////////////////////
// Basic experiment display pages //
////////////////////////////////////

#experiment
  .links
    a
      margin-right: $whitespace

  .image-frame
    clear: both
    width: 100%
    max-width: $max-image-width

  #toggle-junk-button
    display: inline-block


#experiment-plate
  .vertical-links
    float: left

    a
      margin-right: $whitespace


#vertical-experiment-plates
  .plate-96
    min-width: 320px
    float: left

    &.mode-devstar, &.mode-big
      min-width: 1000px


#experiment-plate, #vertical-experiment-plates
  .plate-96
    td
      background: black
      color: $light-gray

    .well-caption
      a
        @include link-color-light()


///////////////////////////////////
// Basic experiment search pages //
///////////////////////////////////

#find-experiment-wells
  table
    width: 100%
    float: left
    margin-bottom: $whitespace

    td
      .image-frame
        width: 100%
        float: left


#find-experiment-wells, #find-experiment-plates
  #form-section
    #form-errors, #clear-form
      float: left
      clear: both

    #form-errors
      margin-bottom: $whitespace

    .field
      float: left
      width: 45%
      padding-bottom: 12px

      &:nth-child(odd)
        clear: left

      &:nth-child(even)
        clear: right

      &.submit
        clear: both

      #id_plate__temperature__in
        width: 50px

      #id_worm_strain
        width: 150px


#find-experiment-plates, #change-experiment-plates
  .vertical-links
    a
      margin-left: $whitespace

  table#experiment-results
    width: 100%


//////////////////
// Scoring page //
//////////////////

#score-experiment-wells
  .experiment-header,
  .experiment-content
    float: left
    width: 100%

  .experiment-content
    padding-bottom: $whitespace

    &-image,
    &-buttons
      @include box-sizing(border-box)
      float: left

    &-image
      width: 70%

    &-buttons
      padding-left: $whitespace
      width: 30%

      label
        display: block

      &-main
        padding-bottom: $whitespace


/////////////////////
// Knockdown pages //
/////////////////////

.knockdown-clone-section
  h4
    width: 100%
    text-align: center

    span
      display: block


.knockdown-results
  float: left
  clear: both
  width: 100%
  margin-bottom: $whitespace * 4
  background: $lighter-gray

  th
    width: 50%
    padding: 1% 0
    text-align: center

  td
    width: 46%
    padding: 0 2%
    vertical-align: top

  thead
    th
      font-size: $base-font-size + 4

  tbody
    th
      padding-top: 3%
      font-size: $base-font-size + 2

  .carousel
    @include clearfix

  &.single-column
    td
      width: 100%

    .carousel
      margin: $whitespace / 2 auto
      max-width: $max-image-width


////////////////////////////
// Secondary scores pages //
////////////////////////////

#secondary-scores
  .Strong
    background: $github-dark-green

  .Medium
    background: $github-medium-green

  .Weak
    background: $github-light-green

  .Negative
    background: white

  .Other
    background: black

  #rules
    @include bulleted-list

  #key
    font-size: $base-font-size - 2
    float: right

    li
      display: inline-block

      &.key-color
        width: 10px
        height: 10px
        border: 1px solid $light-gray

  #results
    float: left
    width: 100%

    td, th
      &.experiment-score
        font-size: $base-font-size - 2

    .experiment-score
      position: relative
      width: 10px
      border: 1px solid $light-gray

      a
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%


//////////////////////////
// Image category pages //
//////////////////////////

table#image-category
  td
    padding: 20px
    vertical-align: middle

  .image-frame
    width: 800px


/////////////////////////////////////////
// Image styles, used on various pages //
/////////////////////////////////////////

.image-frame
  position: relative

  // For aspect ratio
  &:after
    content: ''
    display: block
    position: relative
    padding-top: 75%

  // This interacts with &:after for aspect ratio
  img
    position: absolute
    width: 100%


// Rotating image carousel
.carousel
  width: 94%
  padding: 3%
  background: black
  color: $light-gray

  .individual-image
    display: none
    position: relative

    &.show
      display: block

    .image-topbar
      float: left
      width: 100%
      padding: 2% 0
      text-align: center

      .image-title
        float: left

      .placement
        float: right

      a
        @include link-color-light()

    .image-caption
      float: left
      width: 100%
      padding: 2% 0
      font-size: $base-font-size - 2

      .image-scores
        float: left

        span
          float: left
          clear: both

    .image-frame
      $image-frame-z-index: 1
      float: left
      width: 100%
      -webkit-user-select: none // webkit (safari, chrome) browsers
      -moz-user-select: none // mozilla browsers
      -khtml-user-select: none // webkit (konqueror) browsers
      -ms-user-select: none // IE10+

      &:after
        z-index: $image-frame-z-index

      // To show/hide arrows when carousel is present
      &:hover
        .image-frame-previous, .image-frame-next
          span
            opacity: 1

            // Fade in
            @include transition(opacity 50ms linear)

      .image-frame-previous, .image-frame-next
        position: absolute
        top: 0
        width: 50%
        height: 100%
        z-index: $image-frame-z-index + 1
        color: lighten($link-color, 20%)

        &:hover
          color: lighten($link-hover-color, 30%)

        // For browsers that don't support vw
        font-size: 50px

        // vw is "Viewport-width" (font size relative to window size)
        font-size: 4vw

        span
          position: absolute
          top: 50%

          // Move up by 50% of itself, for vertical centering
          @include transform(translateY(calc(-50%)))

          opacity: 0
          @include transition(opacity 250ms linear)

      .image-frame-previous
        left: 0

        span
          left: 5%

      .image-frame-next
        right: 0

        span
          right: 5%
