#experiments
  #exact-id-form
    display: inline

  hr
    margin: $vertical-whitespace 0

  #experiment-filter-form
    margin-top: $vertical-whitespace / 2
    margin-bottom: $vertical-whitespace

  #experiment-results
    width: 100%

  .link-to-vertical
    display: block
    float: left
    margin-left: 40px


#experiment-grid
  #experiment-grid-table
    font-size: 12px
    table-layout: fixed
    width: 100%

    td, th
      width: 60px
      overflow: hidden

    th
      font-weight: bold


#experiment-well
  .experiment-image-wrapper
    clear: both
    width: 100%
    max-width: 1300px


.double-knockdown-results
  float: left
  clear: both
  width: 100%
  margin-bottom: $vertical-whitespace * 4
  background: $gray-lighter

  th
    width: 50%
    padding: 1% 0
    text-align: center

  td
    width: 46%
    padding: 0 2%

  thead
    th
      font-size: $base-font-size + 4

  tbody
    th
      padding-top: 3%
      font-size: $base-font-size + 2

  .rotating-images
    width: 94%
    padding: 3%
    float: left
    background: black
    color: $gray-light

    .individual-image
      display: none

      &.show
        display: block

      position: relative

      .image-topbar
        float: left
        width: 100%
        padding: 2% 0
        text-align: center

        .image-title
          float: left

        .placement
          float: right

      .experiment-image-wrapper
        float: left
        width: 100%
        -webkit-user-select: none // webkit (safari, chrome) browsers
        -moz-user-select: none // mozilla browsers
        -khtml-user-select: none // webkit (konqueror) browsers
        -ms-user-select: none // IE10+

      .image-caption
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        z-index: 10
