{% load staticfiles %}

<div id="logos">
  <a href="http://www.nyu.edu/">
    <img
      alt="NYU logo"
      src="{% static 'images/nyu-logo.png' %}"
      height="120"
      width="84" />
  </a>

  <a href="http://cgsb.as.nyu.edu/">
    <img
      alt="NYU CGSB logo"
      src="{% static 'images/cgsb-logo.png' %}"
      height="120"
      width="113" />
  </a>
</div>

<div id="copyright">
  <span>
    Data copyright
    <a href="http://cgsb.as.nyu.edu/">
      Center for Genomics and Systems Biology</a>,

    <a href="http://www.nyu.edu/">
      NYU</a>,

    <!-- print current year -->
    {% now 'Y' %}
  </span>

  <span>
    <!--
    Website by
    <a href="http://www.katherineerickson.com/">
      Katherine Erickson</a>,-->

    Code on
    <a href="https://github.com/katur/eegi">
      GitHub</a>,

    {% now 'Y' %}
  </span>

  <span id="login">
    {% if user.is_authenticated %}
    <a href="{% url 'logout_url' %}?next={{ request.path }}">Logout</a>

    {% else %}

    {% url 'login_url' as login_url %}
    <a href="{{ login_url }}?next={{ request.path }}"
        {% ifequal request.path login_url %}
        class="active"
        {% endifequal %}>
      Login
    </a>
    {% endif %}
  </span>
</div>
