<h1>
  <a href="{% url 'home_url' %}">
    Early Embryo Genetic Interactions project
  </a>
</h1>

<div id="menu">
  {% url 'worms_url' as worms_url %}
  {% url 'clones_url' as clones_url %}
  {% url 'library_plates_url' as library_plates_url %}
  {% url 'experiment_plates_url' as experiment_plates_url %}
  {% url 'single_knockdown_search_url' as single_knockdown_search_url %}
  {% url 'double_knockdown_search_url' as double_knockdown_search_url %}
  {% url 'secondary_scores_search_url' as secondary_scores_search_url %}


  <a href="{{ worms_url }}"
      {% ifequal request.path worms_url %}
      class="active"
      {% endifequal %}>
    Worms
  </a>

  <a href="{{ clones_url }}"
      {% ifequal request.path clones_url %}
      class="active"
      {% endifequal %}>
    Clones
  </a>

  <a href="{{ library_plates_url }}"
      {% ifequal request.path library_plates_url %}
      class="active"
      {% endifequal %}>
    Library
  </a>

  <a href="{{ experiment_plates_url }}"
      {% ifequal request.path experiment_plates_url %}
      class="active"
      {% endifequal %}>
    Experiment Plates
  </a>

  <a href="{{ single_knockdown_search_url }}"
      {% ifequal request.path single_knockdown_search_url %}
      class="active"
      {% endifequal %}>
    Single Knockdown
  </a>

  <a href="{{ double_knockdown_search_url }}"
      {% ifequal request.path double_knockdown_search_url %}
      class="active"
      {% endifequal %}>
    Double Knockdown
  </a>

  <a href="{{ secondary_scores_search_url }}"
      {% ifequal request.path secondary_scores_search_url %}
      class="active"
      {% endifequal %}>
    Secondary Scores
  </a>
</div>

<div id="login">
  {% if user.is_authenticated %}
  <a href="{% url 'logout_url' %}?next={{ request.path }}">Logout</a>
  <a href="{% url 'admin:index' %}">Admin</a>

  {% else %}

  {% url 'login_url' as login_url %}
  <a href="{{ login_url }}?next={{ request.path }}"
      {% ifequal request.path login_url %}
      class="active"
      {% endifequal %}>
    Login
  </a>
  {% endif %}
</div>
