<h1 id="site-title">
  <a href="{% url 'home_url' %}">
    Early Embryo Genetic Interactions Project
  </a>
</h1>

<div id="menu">
  {% url 'worms_url' as worms_url %}
  {% url 'clones_url' as clones_url %}
  {% url 'library_plates_url' as library_plates_url %}
  {% url 'find_experiment_plates_url' as find_experiment_plates_url %}
  {% url 'find_experiment_wells_url' as find_experiment_wells_url %}
  {% url 'find_single_knockdown_url' as find_single_knockdown_url %}
  {% url 'find_double_knockdown_url' as find_double_knockdown_url %}
  {% url 'find_secondary_scores_url' as find_secondary_scores_url %}


  <a href="{{ worms_url }}"
      {% ifequal request.path worms_url %}
      class="active"
      {% endifequal %}>
    Worms
  </a>

  <a href="{{ clones_url }}"
      {% ifequal request.path clones_url %}
      class="active"
      {% endifequal %}>
    Clones
  </a>

  <a href="{{ library_plates_url }}"
      {% ifequal request.path library_plates_url %}
      class="active"
      {% endifequal %}>
    Library
  </a>

  <a href="{{ find_experiment_plates_url }}"
      {% ifequal request.path find_experiment_plates_url %}
      class="active"
      {% endifequal %}>
    Find Experiment Plates
  </a>

  <a href="{{ find_experiment_wells_url }}"
      {% ifequal request.path find_experiment_wells_url %}
      class="active"
      {% endifequal %}>
    Find Experiment Wells
  </a>

  <a href="{{ find_single_knockdown_url }}"
      {% ifequal request.path find_single_knockdown_url %}
      class="active"
      {% endifequal %}>
    Single Knockdown
  </a>

  <a href="{{ find_double_knockdown_url }}"
      {% ifequal request.path find_double_knockdown_url %}
      class="active"
      {% endifequal %}>
    Double Knockdown
  </a>

  <a href="{{ find_secondary_scores_url }}"
      {% ifequal request.path find_secondary_scores_url %}
      class="active"
      {% endifequal %}>
    Secondary Scores
  </a>
</div>
