{% extends 'base.html' %}

{% block body_id %}help-page{% endblock %}


{% block page_title %}Help me, where do I go?{% endblock %}


{% block content %}
<div id="disclaimer">
Note: If any of these links prompt for your user and password, even though
you are logged in, it means that you don't have sufficient privileges
to view that page.
</div>

<section id="table-of-contents">
  <h3>Table of Contents</h3>

  <section>
    <h5>
      <a href="#overview-of-editing">Overview of editing methods</a>
    </h5>
  </section>

  <section>
    <h5>Ways to edit experiments</h5>

    <ul>
      <li><a href="#add-single-experiment">
        Add a single Experiment Plate</a></li>
      <li><a href="#add-multiple-experiments">
        Add multiple Experiment Plates</a></li>
      <li><a href="#change-experiments">
        Change one or more Experiment Plates</a></li>
      <li><a href="#delete-experiments">
        Delete one or more Experiment Plates</a></li>
      <li><a href="#toggle-junk">
        Toggle junk on a single Experiment Well</a></li>
      <li><a href="#change-single-well-worm-or-stock">
        Change Worm Strain or Library Stock on a single Experiment Well
      </a></li>
    <ul>
  </section>

  <section>
    <h5>Ways to edit scores</h5>

    <ul>
      <li><a href="#change-score-codes">
        Add/Change/Delete Manual Score Codes</a></li>
      <li><a href="#add-scores">
        Add Manual Scores</a></li>
      <li><a href="#run-devstar">
        Run DevStaR</a></li>
      <li><a href="#import-devstar">
        Import DevStaR output into database</a></li>
      <li><a href="#update-gi-score">
        Update Experiment GI Scores</a></li>
    </ul>
  </section>

  <section>
    <h5>Ways to edit library &amp; clones</h5>

    <ul>
      <li><a href="#update-mapping">
        Update Clone mapping data</a></li>
      <li><a href="#update-gene-function">
        Update Gene functional descriptions</a></li>
      <li><a href="#import-sequencing">
        Import sequencing data</a></li>
      <li><a href="#import-blat">
        Import BLAT hits of sequencing data</a></li>
      <li><a href="#update-consensus-clones">
        Update Library Stock consensus clones</a></li>
      <li><a href="#change-clones-and-library">
        Add/Change/Delete Clones, Library Plates, or Library Stocks</a>
      </li>
    </ul>
  </section>

  <section>
    <h5>Miscellany</h5>

    <ul>
      <li><a href="#change-users">
        Add/Change/Delete Users, Groups, and Permissions</a></li>
      <li><a href="#change-worms">
        Add/Change/Delete Worm Strains</a></li>
      <li><a href="#pull-images">
        Pull images from scopes</a></li>
      <li><a href="#thumbnails">
        Generate thumbnail and medium resolution images</a></li>
      <li><a href="#back-up-raw-data">
        Back up raw data</a></li>
      <li><a href="#back-up-database">
        Back up database</a></li>
    </ul>
  </section>
</section>


<section>
  <h4 id="overview-of-editing">Overview of editing methods</h4>

  There are a few general ways to update the database, depending on
  what you are trying to do.

  <ul id="updating-methods">
    <li>
    <span><a href="{% url 'admin:index' %}">
        Django Admin Interface</a></span>
    This ships with Django, and is used for some very simple updates.
    </li>

    <li>
    <span>Custom Interfaces</span>

    Some interfaces were built to update the database in more
    complex ways.
    </li>

    <li>
    <span>Django Management Scripts</span>

    These Python scripts are run from the command line.
    They should be run as the <code>eegi</code> user on pyxis.

    <br><br>
    First, activate the project's Python virtual environment,
    and go to the project root directory.
    <code class="clear">
      source /opt/local/eegi/eegivirtualenv/bin/activate
      <br>
      cd /opt/local/eegi/eegi
    </code>

    To list all available scripts:
    <code class="clear">./manage.py help</code>

    For help with a particular script (also find more help in the
    command's docstring):
    <code class="clear">./manage.py help scriptname</code>

    To run a particular script:
    <code class="clear">./manage.py scriptname [args]</code>

    </li>

    <li>
    <span>Cron Jobs</span>

    These jobs run automatically, in the crontab of the <code>eegi</code>
    user on pyxis.
    </li>
  </ul>
</section>

<section>
  <h4>Ways to edit experiments</h4>

  <section>
    <h5 id="add-single-experiment">Add a single Experiment Plate</h5>

    Use the <a href="{% url 'add_experiment_plate_url' %}">
      Add Experiment Plate page</a>.
  </section>

  <section>
    <h5 id="add-multiple-experiments">Add multiple Experiment Plates</h5>

    Use the <a href="{% url 'add_experiment_plates_gdoc_url' %}">
      Add Experiment Plates from Google Doc page</a>.
  </section>

  <section>
    <h5 id="change-experiments">Change one or more Experiment Plates</h5>

    Select the plates you would like to change using
    the filters on the
    <a href="{% url 'find_experiment_plates_url' %}">
      Find Experiment Plates page</a>.
    If you are logged in with the correct permissions,
    you will see a link at the bottom to "Change these plates".
    From there, you can change any plate-wide attributes.
  </section>

  <section>
    <h5 id="delete-experiments">Delete one or more Experiment Plates</h5>

    Use the <a href="{% url 'admin:index' %}">
        Django Admin Interface</a>.
    <br>
    <br>
    <i>NOTE:</i> Deleting an Experiment Plate cascades to delete any
    associated Experiment Wells, Manual Scores, and Devstar Scores.
    Unless you are confident, marking junk may be preferred.
  </section>

  <section>
    <h5 id="toggle-junk">Toggle junk on a single Experiment Well</h5>

    Go to the page for that experiment well
    (e.g., <a href="{% url 'experiment_well_url' '30010_A12' %}">
      here is 30010_A12</a>).
    If you are logged in with the correct permissions,
    you will see a button at the bottom to "Toggle Junk".
  </section>

  <section>
    <h5 id="change-single-well-worm-or-stock">
      Change Worm Strain or Library Stock on a single Experiment Well
    </h5>

    Use the <a href="{% url 'admin:index' %}">
        Django Admin Interface</a>,
    update the database directly,
    or develop a custom solution if this becomes common practice.
  </section>
</section>

<section>
  <h4>Ways to edit scores</h4>

  <section>
    <h5 id="change-score-codes">Add/Change/Delete Manual Score Codes</h5>

    Use the <a href="{% url 'admin:index' %}">
        Django Admin Interface</a>.
  </section>

  <section>
    <h5 id="add-scores">Add Manual Scores</h5>

    <span class="error-message">
      TODO: build a general scoring interface for any primary and
      SUP secondary rescoring needs.
    </span>
  </section>

  <section>
    <h5 id="run-devstar">Run DevStaR</h5>

    Cron job.
    <span class="error-message">
      TODO: Lior is re-writing this for pyxis.
    </span>
  </section>

  <section>
    <h5 id="import-devstar">Import DevStaR output into database</h5>

    TBD cron job or management script.
    <span class="error-message">
      TODO: Katherine needs to finish this after Lior finishes his part.
    </span>
  </section>

  <section>
    <h5 id="update-gi-score">Update Experiment GI Scores</h5>

    <code class="clear">./manage.py update_gi_score (?)</code>

    This script updates each experiment's GI Score,
    which is calculated its DevStaR output and that of its controls.

    You should run this script after adding or updating Experiments
    and/or DevStaR Scores.

    <span class="error-message">
      TODO: build this with Michelle
    </span>
  </section>
</section>

<section>
  <h4>Ways to edit library &amp; clones</h4>

  <section>
    <h5 id="update-mapping">Update Clone mapping data</h5>

    <code class="clear">./manage.py import_mapping_data</code>

    This script connects to Firoz's RNAiCloneMapper database
    to update the gene mappings for the clones in this project.
  </section>

  <section>
    <h5 id="update-gene-function">Update Gene functional descriptions</h5>

    <code class="clear">./manage.py import_functional_descriptions</code>

    This script updates the functional descriptions of the Genes
    in this database, using a file of functional descriptions
    from WormBase.
  </section>

  <section>
    <h5 id="import-sequencing">Import sequencing data</h5>

    <code class="clear">./manage.py import_sequencing_data</code>

    This script imports sequencing data from the Genewiz dump on
    pleiades. It requires a file specifying which Genewiz tracking
    numbers correspond to which sequencing plates, and with a reference
    of which library stocks correspond to which sequencing wells.
  </section>

  <section>
    <h5 id="import-blat">Import BLAT hits of sequencing data</h5>

    <code class="clear">./manage.py import_blat_results</code>

    This script adds the BLAT hits of our sequencing data
    to the database.

    <span class="error-message">TODO:
      Previously, Firoz performed the BLAT, and Katherine imported
      his .txt results. This script will at least query the database
      and pip into Firoz's script directly. Still TBD whether it
      will update the database directly, or write a CSV to check
      and them import.
    </span>
  </section>

  <section>
    <h5 id="update-consensus-clones">
      Update Library Stock consensus clones</h5>

    <code class="clear">./manage.py update_consensus_clone (?)</code>

    This script updates each library stock's "consensus clone",
    informed by our sequencing results. It should run after
    BLATing new sequencing results.

    <span class="error-message">TODO: build this once relevant
      decisions are made</span>
  </section>

  <section>
    <h5 id="change-clones-and-library">
      Add/Change/Delete Clones, Library Plates, or Library Stocks
    </h5>

    Extremely infrequent. Update database directly or write
    a one-off script.

    Or, some very limited functionality for changing library plates
    is available in the
    <a href="{% url 'admin:index' %}">
        Django Admin Interface</a>.
  </section>
</section>

<section>
  <h4>Miscellany</h4>

  <section>
    <h5 id="change-users">
      Add/Change/Delete Users, Groups, and Permissions
    </h5>

    Use the <a href="{% url 'admin:index' %}">
        Django Admin Interface</a>.
  </section>

  <section>
    <h5 id="change-worms">Add/Change/Delete Worm Strains</h5>

    Extremely infrequent. Update database directly.

    Or, some very limited functionality for changing worms available in the
    <a href="{% url 'admin:index' %}">
        Django Admin Interface</a>.
  </section>

  <section>
    <h5 id="pull-images">Pull images from scopes</h5>

    Daily cron job.

    <span class="error-message">
      TODO: Lior is re-writing this for pyxis.
    </span>
  </section>

  <section>
    <h5 id="thumbnails">
      Generate thumbnail and medium resolution images
    </h5>

    Cron job.

    <span class="error-message">
      TODO: Lior is re-writing this for pyxis.
    </span>
  </section>

  <section>
  <h5 id="back-up-raw-data">Back up raw data</h5>

    Weekly cron job.

    <span class="error-message">
      TODO: Lior is re-writing this for pyxis, and determining which
      machine to use for the backup.
    </span>
  </section>

  <section>
    <h5 id="back-up-database">Back up database</h5>

    Weekly cron job.

  </section>
</section>

{% endblock content %}
