{% load extra_tags %}


<td
  data-hover-tag="{{ well.well|get_tile }}"
  {% if not well.intended_clone %}
  class="empty-well"
  {% endif %}>

  <div class="well-title">
    {{ well.well }}
  </div>

  {% if is_experiment %}
  <a href="{{ well.get_absolute_url }}">
    {% include 'image.html' with experiment=well %}
  </a>
  {% endif %}

  <div class="well-caption">
    {% if well.intended_clone %}
    <a href="{{ well.intended_clone.get_absolute_url }}">
      {{ well.intended_clone }}</a>

    {% else %}
    None
    {% endif %}
  </div>
</td>
