{% extends 'base.html' %}

{% block content %}
<div id="lockdown">
  <p>
    This site is not yet available to the public.
  </p>

  <br>

  {% if form %}

  <form action="" method="post">
    <div>
      {% for field in form %}
        {{ field.errors }}

        {% if 'password' in field.label_tag %}
        Site Password:
        {% else %}
        {{ field.label_tag }}
        {% endif %}

        {{ field }}
      {% endfor %}
    </div>
    <br>
    <input type="submit" value="Submit">
  </form>

  {% endif %}

</div>
{% endblock %}
